{% extends '@Layout/Page/Default/base.html.twig' %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="description" content="Memes Website">
    <meta name="keywords" content="Memes,Design">
    <meta name="author" content="Craaftx - Dorian Guilmain">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Home{% endblock title %}
    </title>
    {% include '@Layout/Page/Full/stylesheets.html.twig' %}
    {% block stylesheets %}{% endblock stylesheets %}
{% endblock head %}

{% block html_body %}
    <body onresize="patch_watcher('true', 'true')" id="website-body">
    {% include '@Layout/Page/Full/sidebar.html.twig' %}
    {% include '@Layout/Widget/Profile/Modal/base.html.twig' %}
    <div class="website-wrapper" id="website-wrapper">
            {% block body %}{% endblock body %}
    </div>
    {% include '@Layout/Widget/Alert/alert.html.twig' %}
    {% include '@Layout/Page/Full/footer.html.twig' %}
    {% include '@Layout/Page/Full/scripts.html.twig' %}
    {% block scripts %}{% endblock scripts %}
    {{ ws_client() }}
    <script type="text/javascript">
        var _WS_URI = "ws://{{ gos_web_socket_server_host }}:{{ gos_web_socket_server_port }}";
        var webSocket = WS.connect(_WS_URI);

        webSocket.on("socket/connect", function(session){
            session.subscribe("app/achievement/notify/{{ user_business.socketSessionId }}", function(uri, payload){
                document.getElementById('website-wrapper').insertAdjacentHTML('beforeend', payload);
            });
        })
    </script>
    </body>
{% endblock html_body %}