<div class="website-footer">
    <div class="row">
        <div class="col-md-5 pt-2 pb-2">
            <h4 class="color-primary">What is MEMES ?</h4>
            <p>Memes is a website who aggregate some memes in the same place, you don't need to go or subscribe at tons
                of page all of the content is here and accessible easily. Hope you enjoy the website !</p>
        </div>
        <div class="col-md-5 pt-2 pb-2 separator">
            <h4 class="color-primary">Enjoy the project ?</h4>
            <p>You really enjoy the project, do not hesitate to share this website with all your friend. Also you can support
                the project by make a donation a this
                <span class="color-primary">address</span>.</p>
        </div>
        <div class="col-md-2 pt-2 pb-2 navigation">
            <h4 class="color-primary">Usefull Links</h4>
            <ul>
                <li>
                    <a href="{{ path('app_information_contact_index') }}">About</a>
                </li>
                <li>
                    <a href="#">Tutorial</a>
                </li>
                <li>
                    <a href="#">Legals</a>
                </li>
                <li>
                    <a href="{{ path('app_information_contact_index') }}">Contact</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        Copyright
        <span class="color-primary">MEMES</span> @ All Rights Reserved
    </div>
</div>