{% set request_period = request_business.masterRequest.get(constant('AppBundle\\Controller\\Post\\ListingController::PERIOD_KEY')) %}
{% set default_period = constant('AppBundle\\Controller\\Post\\ListingController::DEFAULT_PERIOD_KEY') %}

<a href="{{ path }}">
    <span class="order-button
        {% if period == request_period or (request_period == '' and period == default_period) %}
            active
        {% endif %}
    ">{{ text }}</span>
</a>