{% extends '@Layout/Page/Full/base.html.twig' %}

{% block body %}
    <div class="commentary-back">
        <div class="commentary-wrapper">
            {% include '@Layout/Widget/Post/Full/base.html.twig' with {'post': post} %}
        </div>
    </div>
{% endblock body %}