<h1 class="section-title">{% include '@Layout/Widget/Post/Category/base.html.twig' with {'key': category} %}</h1>
<div class="card-columns" id="card-container">
    {% for content in contents %}
        {% include '@Layout/Widget/Content/base.html.twig' with {'content': content} %}
    {% endfor %}
</div>