{% extends '@Layout/Page/Full/base.html.twig' %}

{% block title %}About{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-3 text-center">ABOUT US</h1>
                <hr>
            </div>
        </div>
        <div class="row align-items-center h-100 mt-5">
            <div class="col-sm-4 text-center d-none d-md-block">
                <i class="fas fa-couch fa-fw fa-6x"></i>
            </div>
            <div class="col-sm-8 mx-auto">
                <h1 class="color-primary">Relax, we make the job</h1>
                <p>Esse irure dolor laborum ipsum. Sint aute ad aute officia nulla deserunt sit quis laborum minim ipsum incididunt. Proident commodo do incididunt quis ullamco esse excepteur adipisicing non irure fugiat. Non tempor id labore officia. Elit culpa cillum duis cupidatat ut enim cupidatat.</p>
            </div>
        </div>
        <div class="row align-items-center h-100 mt-5">
            <div class="col-sm-8 mx-auto">
                <h1 class="color-primary">How it's work ?</h1>
                <p>In est qui nisi adipisicing proident dolore fugiat esse ut ea. Aliquip adipisicing tempor tempor occaecat id sunt laboris ad ex enim eiusmod eiusmod. Adipisicing ex commodo amet reprehenderit mollit ut enim. Velit occaecat consectetur velit deserunt sint mollit aliquip sit ad ad aute.</p>
            </div>
            <div class="col-sm-4 text-center d-none d-md-block">
                <i class="fas fa-robot fa-fw fa-6x"></i>
            </div>
        </div>
        <div class="row align-items-center h-100 mt-5">
            <div class="col-sm-4 text-center d-none d-md-block">
                <i class="fas fa-sliders-h fa-fw fa-6x"></i>
            </div>
            <div class="col-sm-8 mx-auto">
                <h1 class="color-primary">Personnal Settings</h1>
                <p>Mollit sit minim pariatur Lorem ullamco eu nostrud enim id mollit exercitation fugiat. Reprehenderit mollit consectetur laborum exercitation nisi sit ex esse in. Nulla ut aute aliqua dolore id commodo eiusmod tempor irure laboris veniam voluptate. Incididunt occaecat Lorem nulla ipsum exercitation esse est aliquip proident non veniam elit excepteur. Deserunt mollit nostrud labore cillum irure duis voluptate sit ullamco excepteur mollit.</p>
            </div>
        </div>
        <div class="row align-items-center h-100 mt-5 mb-5">
            <div class="col-sm-8 mx-auto">
                <h1 class="color-primary">We think about you !</h1>
                <p>Nisi dolore ea aute ut anim tempor reprehenderit est ipsum officia. Aute laborum fugiat ea labore dolore. Deserunt commodo veniam dolor sint non est aliqua amet pariatur incididunt sunt esse fugiat incididunt. In cupidatat quis laboris dolore qui nisi reprehenderit aliquip quis consectetur culpa tempor. Sunt voluptate irure laborum sit et ut deserunt labore.</p>
            </div>
            <div class="col-sm-4 text-center d-none d-md-block">
                <i class="fas fa-hand-holding-heart fa-fw fa-6x"></i>
            </div>
        </div>
    </div>
{% endblock body %}